.contenedor-showcase .showcase-title {
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
}

.fitnes-img {
    width: 100%;
    margin-bottom: 20px;
}

.fitnes-text {
    width: 100%;
    padding: 0 30px;
}

/*----------------------------------*/

.swiming-img {
    width: 100%;
    margin-bottom: 20px;
}

.swiming-text {
    width: 100%;
    padding: 0 30px;
}

/*----------------------------------*/

.spa-img {
    width: 100%;
    margin-bottom: 20px;
}

.spa-text {
    width: 100%;
    padding: 0 30px;
}

/*----------------------------------*/

.golf-img {
    width: 100%;
    margin-bottom: 20px;
}

.golf-text {
    width: 100%;
    padding: 0 30px;
}

/*----------------------------------*/

